body {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}

.container {
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/MedievalDungeon.jpg);
  background-position: center;
  background-size: cover;
  color: #fdff05;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#alert {
  font-size: 50px;
  font-weight: 200;
  color: white;
}

input {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #0b1127;
  border-width: 3px;
  border-color: white;
  color: white;
}

button {
  height: 40px;
  width: 80px;
  border-radius: 20%;
  text-align: center;
  background-color: #0b1127;
  border-width: 3px;
  border-color: white;
  color: white;
}
